.main-autoriz {
    justify-content: center
}

.autoriz {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;

        input {
            border-radius: 10px;
            width: 50%;
            font-size: 1.5em;
            padding: 5px;
            background-color: $colorBackgroundSecond;
            border: 1px solid $colorText;
            color: $colorText;
        }


    }

    &__buttons {
        display: flex;
        width: 50%;
        gap: 0.5em;
        flex-wrap: wrap;

        button {
            color: $colorBackground;
            font-size: 1.5em;
            border-radius: 10px;
            padding: 5px 10px;
            background-color: $colorFirst;
            flex: 1;
            border: 1px solid $colorText;
            box-shadow: 6px 3px 10px 0px rgba(30, 149, 155, 0.5);
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                color: $colorFirst;
                background-color: $colorBackground;
            }
        }

    }
}