@media (max-width: 767px) {
    .header {
        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $colorFirst;
        }

        &__menu {
            list-style: none;
            display: grid;
            justify-items: center;
            gap: 5px 0.5em;

            &-item {
                display: flex;
                align-items: center;
                font-size: 2em;

                &-menu {
                    display: block;
                }
            }

            &-item:first-child {
                grid-column: span 3;
                font-size: 1.2em;
                align-self: end;
                display: flex;
                justify-content: flex-end
            }
        }
    }

    main {
        justify-content: flex-start;
    }

    .card-title {
        display: none;
    }

    .card__title {
        margin-bottom: 0;
    }

    .buttons {
        display: none;

        &__box {
            gap: 8px;
        }
    }

    .homework {
        &-container {
            font-size: 16px;
        }

        &__area {
            flex-wrap: wrap;
        }

        &__icons {
            font-size: 1.5em;
        }
    }

    .table {
        order: -999;
        display: grid;
        width: 100%;
        grid-template-columns: minmax(min-content, 2em) minmax(min-content, 6.3em) minmax(min-content, auto) minmax(min-content, max-content);

        &__cell {
            &-task {
                padding: 2px;
            }
        }
    }

    .diary {
        &__area {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        &__table {
            width: 100%;
            grid-template-columns: minmax(min-content, 2em) minmax(min-content, 6.3em) minmax(min-content, auto) minmax(min-content, max-content);
        }


    }

    .autoriz {


        &__form {
            font-size: 12px;

            input {
                width: 80%;
            }
        }

        &__buttons {

            width: 80%;
            gap: 0.5em;


            button {}

        }
    }

    .settings {
        &__item {
            flex-direction: column;
        }
    }

    .teachers {
        &__area {
            margin-top: 1em;
            grid-template-columns: repeat(1, 1fr);
            gap: 2em;
        }

        &__card {
            padding: 1em;
        }
    }

    .card__block {
        margin-bottom: 0;

        &:last-of-type {
            margin-bottom: 1em;
        }
    }

    .modal-content__dateBox {
        display: flex;
        flex-direction: column;
    }

    .modal-content__period {
        font-size: 1em;

        select {
            font-size: 1em;
        }
    }

    .quarters__attent {
        font-size: 1em;
    }
}