.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 10px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    overflow: hidden;
    overflow-y: auto;
    z-index: 999;
    // opacity: 0;
    transition: opacity 0.3s;
}

.modal-overlay::before,
.modal-overlay::after {
    content: "";
    display: block;
    height: 1px;
    flex-grow: 1;
}

.modal-box {
    position: relative;
    max-width: 40rem;
    padding: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: $colorText;
    background-color: $colorBackgroundSecond;
    border-radius: 16px;
    filter: drop-shadow(6px 10px 10px rgba(30, 149, 155, 0.5));
    // transform: translateY(50px);
    transform: scale(0.5);
    transition: transform 0.3s;
    width: 100%;
    min-height: 70px;

}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4em;

    & h3 {
        color: $colorButton;
    }

    &-box {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-center {
            align-items: center;
        }

    }

    &__input-hw {
        display: flex;
        justify-content: baseline;
        gap: 10px;
    }

    &-choice {
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 100%;
        justify-content: center;
        gap: 0.3em 1.2em;
        font-size: 1em;
        color: $colorText;

        &-grade {
            grid-template-columns: repeat(1, auto);
        }

        &-single {
            grid-column: 1 / -1;
        }

        &-item {
            display: flex;
            align-items: center;

            & span {
                font-weight: 700;
                margin-right: 0.5em;
            }
        }
    }

    &-error {
        font-size: 1.5em;
        color: $colorFirst;
    }

    &-radio {
        transform: scale(1.2);
        margin-right: 0.5em;
    }

    &__inputBox {
        width: 80%;
        margin-bottom: 10px;
    }

    &-input {
        font-size: 1em;
        padding: 5px 10px;
        color: $colorText;
        border: 1px solid $colorText;
        border-radius: 7px;
        width: 100%;
    }

    &__edit-cell {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-icons {
            display: flex;
            gap: 10px;
        }

        &-notes {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }

    &__dateBox {
        width: 100%;
        display: grid;
        grid-template-columns: max-content 1fr 1fr;
        align-items: baseline;
        gap: 5px;

    }

    &__period {
        display: flex;
        align-items: baseline;
        font-size: 1.2em;
        color: $colorText;
        gap: 0.5em;

        select {
            padding: 3px;
            border-radius: 5px;
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 1em;
            color: $colorText
        }
    }


}

.ReactModal__Content--after-open {
    // transform: translateY(0);
    transform: scale(1);
}

.ReactModal__Content--before-close {
    // transform: translateY(50px);
    transform: scale(0.5);
}

.modal-close-button {
    position: absolute;
    border: none;
    background-color: $colorBackgroundSecond;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    stroke: $colorText;
    transition: stroke 0.3s;
    cursor: pointer;

    &:hover {
        stroke: $colorButton;
    }
}

.modal-submit-button {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1em;
    padding: 0.5em 1.2em;
    border: none;
    background-color: $colorButton;
    border-radius: 8px;
    font-size: 1.2em;
    color: $colorBackgroundSecond;
    filter: drop-shadow(3px 3px 7px rgba(30, 149, 155, 0.5));
    border: 1px solid $colorButton;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $colorButton;
        background-color: $colorBackgroundSecond;
        border-color: $colorButton;
    }

    &:disabled {
        opacity: 0.5;
        cursor: auto;
    }

    &:disabled:hover {
        color: $colorBackgroundSecond;
        background-color: $colorButton;
        border-color: $colorButton;
    }
}

.modal-button {
    align-self: center;
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: $colorFirst;
    border-color: $colorFirst;

    &:hover {
        color: $colorFirst;
        border-color: $colorFirst;
    }

}

.buttons-group {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 0.7em;

}

.edit-icon {
    filter: brightness(0) saturate(100%) invert(45%) sepia(62%) saturate(540%) hue-rotate(134deg) brightness(94%) contrast(87%);
}